.nav{
	display:inline-block;
}
.right-nav{
	text-align:right;
	position:sticky;
	
	
}
.nav{
	gap:10px;
	width:15%;
	position:sticky;

}
.tuitt-button{
	background-color: #c2195b;
	color:white;
	border-radius:150px;
}
#bg-image{
	min-height:300px;
	background-color: white;
	background-image:url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
	
	


}
.front-bg{
	background-color:rgba(0,0,0,0.5);
	min-height: 300px;


}
.title{
	color:white;
	text-align:right;
	font-family:Zilla Slab;
	padding-right:100px;
	font-size:30px;
	padding-left:650px;



}
.subtitle{
	color:white;
	text-align:right;
	margin:30;
	padding-left: 700px;
	padding-right:100px;
	font-size:20px;

}
.apply-button{
	float:right;
	border-radius:20px;
	width:100px;
	height:40px;
		background-color: #c2195b;

	color:white;
}

.title-2{
		font-family:Zilla Slab;
		text-align:center;
}
.intro-description{
	text-align: center;
}
.prefooter-description{
	text-align: center;

}
.pre-footer{
	background-color: #f7fbfb ;
	text-align:center;
	
	height:300px;

}
.book-button{
	background-color:#336589 ;
	color:white;
		font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
#footer{
	text-align:center;
}